<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="broker" value="VantageAU-Demo" />
    <add key="account" value="100124932" />
    <add key="password" value="lakp3ro" />
    <!-- -->
    <!-- ********************************************************************** -->
    <!-- You need to run Terminal Server first ([Start]->[All Programs]->[NJ4X Metatrader
API]->[Run Terminal Server]) -->
    <!-- -->
    <add key="terminal_host" value="127.0.0.1" />
    <add key="terminal_port" value="7788" />
    <!-- -->
    <!-- -->
    <!-- ********************************************************************** -->
    <!-- Your nj4x_activation_key can be obtained at http://www.nj4x.com/downloads under
the licensed user logon ** -->
    <!-- -->
    <add key="nj4x_activation_key" value="155857916" />
    <add key="nj4x_mt5_activation_key" value="325261026" />
    <!-- -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>